@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#root {
	height: 100%;
}
html {
	font-size: 10px;
}
